<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    <center >
       <marquee behavior="" direction="down"> <U><h1 style="color: aliceblue;">THIS IS COLLEGE TABLE DETAILS </h1></U>
        <table border="5px"></marquee>
            <tr>
                <th>c_id</th>
                <th>c_name</th>
                <th>c_loc</th>
            </tr>
            {% for i in Colleges %}
            <tr>
                <td>{{i.c_id}}</td>
                <td>{{i.c_name}}</td>
                <td>{{i.c_loc}}</td>
            </tr>
            {% endfor %}
        </table>


    </center>
    <h1>hello this is my table1</h1>
    
    
</body>
</html>